In [38]:
a = {
    "name": [1, 2, 3, 4],
    "dict": {
        "name": "jatin",
    }
}

In [40]:
tuple(a.items())

(('name', [1, 2, 3, 4]), ('dict', {'name': 'jatin'}))

In [4]:
type(
    {
        "name": "jatin"
    }
)

dict

In [18]:
hash("jatidfghjklkjhgfdfghjklkhgfdfghjklkjgfcdfghjkn"*2000)

6876086572385152803

In [41]:
a = 1
b = 2

In [45]:
a, b = 1, 2

In [46]:
a

1

In [63]:
def show2(a, b, *args, **kwargs):
    print("args start")
    for x in args:
        print(x)
    print("args end")
    
    for key, value in kwargs.items():
        print(key, "=>", value)

def show(a, b, *args):
    
    d = {
        "name": "jatin",
        "last_name": "katyal"
    }
    
    show2(a, b, *args, **d)

In [64]:
show("a", "b", "c", "d")

args start
c
d
args end
name => jatin
last_name => katyal

In [27]:
show2((1, 2, 3, 4))

((1, 2, 3, 4),)

In [66]:
class A:
    def __init__(self, a, b):
        self.a = a
        self.b = b
    
    def __eq__(self, other):
        return self.a == other.a

In [67]:
a = A(10, 20)
b = A(10, 100)

In [70]:
a == b

True

In [71]:
a.__eq__(b)

True

In [72]:
A.__eq__(a, b)

True

In [73]:
def add(a, b):
    return a+b

In [74]:
add2 = add

In [75]:
add2(1, 2)

3

## Lambda Functions

In [79]:
add = lambda a, b: a+b

In [80]:
add(1, 2)

3

In [84]:
def t():
    print("True")
    return True

def f():
    print("False")
    return False

In [87]:
f() or t()

False
True

True

In [92]:
017 + 032

SyntaxError: invalid token (<ipython-input-92-c182d4eb982b>, line 1)

In [94]:
a = [4, 1, 2, 6, 5, 3, 5, 6]

In [98]:
sorted(list(set([int(x) for x in input().split(' ')])))[-2]

5 4 6 7 3 2 1 9

7

In [110]:
round(5.5678545785678, 3)

5.568

In [ ]:
input => "jatin123"
output => 5, 3

In [108]:
def convert(string):
    res = ""
    for char in string:
        if char.isalpha():
            if char.isupper():
                res += char.lower()
            elif char.islower():
                res += char.upper()
        else:
            res += char
    return res

In [109]:
convert("JAt IN1234567890")

'jaT in1234567890'